table{
	margin-top: 50px;
	text-align: center;
	border: 10px;
	border-color: solid black;
	border-collapse: collapse;
	color: rgb(15, 12, 12);
}

#list td{
	padding: 13px;
	color: black;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color: #ffffff;
}

#btn_a td input{
	margin-top: 5%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	background: #b2a5d2;
	color: rgb(0, 0, 0);
	text-transform: capitalize;

}
#btn_a td input:hover{
	background: rgb(23, 157, 97);
  }


#list th{
	padding: 13px;
	border: 1px;
	border-style: solid;
	border-color: black;
	background: #ffffff;
	color: black;
}

body{
	background: #c1d6e0;
	color: rgb(18, 15, 15);
}